#logo {
  position: fixed;
  z-index: 99999999;
  text-align: center;
  backdrop-filter: blur(12px);
  white-space: nowrap;
}
.now {
  font-size: xxx-large;
}

.bruh {
  background-color: rgba(255, 0, 0, 0.507);
  backdrop-filter: blur(3px);
}

.baseline {
  white-space: nowrap;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
