#logo {
  background-color: red;
  position: fixed;
  z-index: 333;
  mix-blend-mode: difference;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
