.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.ctn {
  text-align: center;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
